<div class="container">
  <div class="row tryst-nav">
    <!--<div class="">-->
    <!--<img src="assets/images/tryst-t-white.png" style="height: 42px" />-->
    <!--</div>-->
    <div class="nav-item"
         *ngFor="let item of navItems">
      <a class="nav-text"
         routerLink="{{ item.route }}"
         routerLinkActive="active">{{ item.name }}</a>
    </div>
  </div>
</div>

<div class="nav-underline"></div>

<router-outlet></router-outlet>

<div class="footer-divider"></div>

<div class="footer">
  <div class="is-flex flex-centered flex-items-centered tryst-footer has-color-tryst">
    <div *ngFor="let icon of socialIcons">
      <div class="social-container">
        <a href="#">
          <i class="fa {{ icon }} fa-2x is-stacked"
             aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
